/.flutter-plugins
/.flutter-plugins-dependencies
/android/local.properties
/android/key.properties
/android/app/zigo-driver-upload.jks
/android/.kotlin/
/android/app/google-services.json____
/android/app/google-services.jsonaaa
/android/app/release/
/android/app/.cxx/
/android/.gradle/
/android/nul
/.idea/
/.dart_tool/
/build/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/lib/utils/secrets.dart
*.md
!README.md
!ios/**/*.md
